
	<!-- BODY -->
	<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">

			<!-- HEADER -->
			<div id="header" class="navbar-toggleable-md sticky clearfix"></div>

			<!-- Block Level Button -->
			<a href="quotation.html" class="btn btn-danger btn-lg btn-red btn-block">
			
				<span>GET A QUOTE</span>
			</a>
			<!-- /Block Level Button -->
			<!-- -->
			<section>
				<div class="container">
					<div class="col-md-12">
					<h1 class = "text-center">Corporate and Commercial Services</h1>
					<!-- -->
					<article class="row">
						<div class="col-md-12">
							<!-- OWL SLIDER -->
							<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
								<div>
									<img class="img-fluid" src="assets\images\rocket_elevator/1-min.jpg" alt="">
								</div>
								<div>
									<img class="img-fluid" src="assets\images\rocket_elevator/2-min.jpg" alt="">
								</div>
								<div>
									<img class="img-fluid" src="assets\images\rocket_elevator/3-min.jpg" alt="">
								</div>
								<div>
									<img class="img-fluid" src="assets\images\rocket_elevator/4-min.jpg" alt="">
								</div>
							</div> </br></br>
							<!-- /OWL SLIDER -->
						</div> 
						
						<div class="col-md-12">
							<h3 class = "text-center"><strong>Advanced Technology</strong></h3>
							<p class = "text-center">Our smart mobility system offers personalized service and access control through the exclusive <strong> Rocket Elevator App</strong> for an unmatched performance in new and existing buildings.</p>

							<h3 class = "text-center"><strong>Elevator Modernization</strong></h3>
							<p class = "text-center">Do your elevators need updating? Our expertise allows us to revamp and update elevator systems that are decades old. You'll benefit from cosmetic or technological upgrades to your elevators resulting in a more reliable and energy efficient experience for everyone who uses them..</p>

							<h3 class = "text-center"><strong>Elevator Repairs</strong></h3>
							<p class = "text-center">We offer rapid repair services and our technicians are well equipped to quickly get your system up and running again. Our repair service is always available to our customers because we believe in the need to maintain equipments to prevent potential problems.</p>

							<h3 class = "text-center"><strong>Net-zero Energy Elevators</strong></h3>
							<p class = "text-center">Always ahead of the competition, we are offering the exclusive Net-zero Energy Elevators. To lower energy use, these elevator cabins can be set to "hibernation" or "sleep" modes. The system is connected to an on-site, 3.75kW rooftop solar array whose dimensions match the footprint of the elevator shaft and generates the energy needed to run the system.</p>

							<h3 class = "text-center"><strong><Em>Corporate Control Center</Em></strong></h3>
							<p class = "text-center"> Our Corporate Control Center delivers superior customer service for the connected elevators and escalators under Rocket Elevators care. By enabling building owners, facility managers, and the service technicians who maintain them to access detailed equipment performance data, we provide customers with the real-time insights, predictive analytics and proactive communication they need to make data-driven decisions about their portfolios.</p>

						</div>

						<div class="mt-60">

							<div class="heading-title heading-border-bottom heading-color text-center">
								<h3>Why Choose Rocket Elevators?</h3>
							</div>
							<p>Through close collaboration with architects, consultants, general contractors, developers and end users, our team will support all type of projects from start to finish.</p>

							<div class="row">

								<div class="col-sm-4">
									<ul class="list-unstyled list-icons">
										<li><i class="fa fa-check text-success"></i> Businesses</li>
										<li><i class="fa fa-check text-success"></i> Industries</li>
										<li><i class="fa fa-check text-success"></i> Institutions</li>
										<li><i class="fa fa-check text-success"></i> Universities</li>
										<li><i class="fa fa-check text-success"></i> Hotels</li>
									</ul>
								</div>

								<div class="col-sm-4">
									<ul class="list-unstyled list-icons">
										<li><i class="fa fa-check text-success"></i> Condo associations</li>
										<li><i class="fa fa-check text-success"></i> Building managers</li>
										<li><i class="fa fa-check text-success"></i> Apartment buildings</li>
										<li><i class="fa fa-check text-success"></i> Government buildings</li>
										<li><i class="fa fa-check text-success"></i> Churches</li>
									</ul>
								</div>

								<div class="col-sm-4">
									<ul class="list-unstyled list-icons">
										<li><i class="fa fa-check text-success"></i> Residences for retired people</li>
										<li><i class="fa fa-check text-success"></i> Daycares</li>
										<li><i class="fa fa-check text-success"></i> Factories and warehouses</li>
										<li><i class="fa fa-check text-success"></i> Pharmacies</li>
										<li><i class="fa fa-check text-success"></i> And more!</li>
									</ul>
								</div>

							</div>

						</div>
					</article>
					<!-- / -->

				</div>
			</section>
			<!-- / -->

				<!-- Block Level Button -->
				<a href="quotation.html" class="btn btn-danger btn-lg btn-red btn-block">
					<span>GET A QUOTE</span>
				</a>
				<!-- /Block Level Button -->

			<!-- CALLOUT -->
			<section class="callout-dark heading-title heading-arrow-bottom" style="background-image: url('rocket_elev_files/images/wall3-min.jpg');">
				<div class="container">

					<div class="text-center">
						<h3 class="fs-30">Rocket Elevators trustworthy service</h3>
						<p>We will help you to solve your problems with agility, transparency and speed!</p>
					</div>

				</div>
			</section>
			<!-- /CALLOUT -->

			<!-- -->
			<section>
				<div class="container">

					<div class="row">

						<!-- toggle -->
						<div class="col-md-4 col-sm-4">
							<div class="toggle toggle-accordion toggle-transparent toggle-bordered-full">

								<div class="toggle active">
									<label>5 Years of guarantee</label>
									<div class="toggle-content">
										<p>Our guarantee covers both the timely delivery and the condition of your items. If either are unsatisfactory, you can report the problem to us and our team will determine if you are eligible for a refund.</p>
									</div>
								</div>

								<div class="toggle">
									<label>Our Commitment</label>
									<div class="toggle-content">
										<p>if you are not satisfied with a product or service, a refund will be made.</p>
									</div>
								</div>

								<div class="toggle">
									<label>Customer satisfaction</label>
									<div class="toggle-content">
										<p>Customer satisfaction is a number one priority for Rocket Elevators. Our firm is dedicated to providing outstanding customer service, listening to customer requests and being reachable at all times. This has enabled us to build long-lasting relationships with our clients and partners.</p>
									</div>
								</div>

							</div>
						</div>
						<!-- /toggle -->

						<!-- skills -->
						<div class="col-md-4 col-sm-4">
							<h4>Our Commitment</h4>

							<label>
								<span class="float-right">100%</span>
								SAFETY
							</label>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%; min-width: 2em;"></div>
							</div>

							<label>
								<span class="float-right">100%</span>
								RAPIDITY
							</label>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%; min-width: 2em;"></div>
							</div>

							<label>
								<span class="float-right">100%</span>
								AFFORDABILITY
							</label>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%; min-width: 2em;"></div>
							</div>

							<label>
								<span class="float-right">100%</span>
								ECO-FRIENDLY
							</label>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%; min-width: 2em;"></div>
							</div>

							<label>
								<span class="float-right">100%</span>
								SATISFACTION
							</label>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%; min-width: 2em;"></div>
							</div>

						</div>
						<!-- /skills -->

						<!-- Recent News -->
						<div class="col-md-4 col-sm-4">
							<h4>Recent News</h4>

							<!-- Post 1 -->
							<div class="row tab-post">
								<div class="col-md-2 col-sm-2 col-2">
									<a href="news_press1.html" target="_new">
										<img src="rocket_elev_files/images/blog/1-min.jpg" width="50" alt="" />
									</a>
								</div>
								<div class="col-md-10 col-sm-10 col-10">
									<a href="news_press1.html" target="_new" class="tab-post-link">Rocket Elevators achieve ISO 9001:2015 Certification</a>
									<small>June 29, 2020</small>
								</div>
							</div>
							<!-- /Post 1-->

							<!-- Post 2 -->
							<div class="row tab-post">
								<div class="col-md-2 col-sm-2 col-2">
									<a href="news_press2.html" target="_new">
										<img src="rocket_elev_files/images/blog/2-min.png" width="50" alt="" />
									</a>
								</div>
								<div class="col-md-10 col-sm-10 col-10">
									<a href="news_press2.html" target="_new" class="tab-post-link">Rocket Elevators again in the 1st place!</a>
									<small>Jan 28, 2020</small>
								</div>
							</div>
							<!-- /Post 2 -->

							<!-- Post 3 -->							
							<div class="row tab-post">
								<div class="col-md-2 col-sm-2 col-2">
									<a href="news_press4.html" target="_new">
										<img src="rocket_elev_files/images/blog/4-min.jpg" width="50" alt="" />
									</a>
								</div>
								<div class="col-md-10 col-sm-10 col-10">
									<a href="news_press4.html" target="_new" class="tab-post-link">Innovations and New Technology in Elevators</a>
									<small>Feb 10, 2020</small>
								</div>
							</div>
							<!-- /Post 3-->

						</div>
						<!-- /Recent News -->

					</div>

				</div>
			</section>
			<!-- / -->

			<!-- -->
			<section class="alternate">
				<div class="container">

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<h3 class="fs-20">Why chose us?</h3>
							<ul class="list-unstyled">
								<li><i class="fa fa-check"></i> Attention to Details</li>
								<li><i class="fa fa-check"></i> A Plan for Success</li>
								<li><i class="fa fa-check"></i> Award-Winning company with seasoned professionals</li>
								<li><i class="fa fa-check"></i> The Best Prices </li>
								<li><i class="fa fa-check"></i> Committed to Quality.</li>

							</ul>
						</div>

						<div class="col-md-6 col-sm-6">
							<h3 class="fs-20 text-center">What Rocket Elevators clients say?</h3>
							<!-- 
								Note: remove class="rounded" from the img for squared image!
							-->
							<ul class="row clearfix testimonial-dotted list-unstyled">
								<li class="col-md-6">
									<div class="testimonial">
										<figure class="float-left">
											<img class="rounded" src="rocket_elev_files/images/people/300x300/a-min.jpg" alt="" />
										</figure>
										<div class="testimonial-content">
											<p>Seasoned Professionals and beautiful elevators!</p>
											<cite>
												Steve Jobs
												<span>Apple inc.</span>
											</cite>
										</div>
									</div>
								</li>
								<li class="col-md-6 col-sm-6">
									<div class="testimonial">
										<figure class="float-left">
											<img class="rounded" src="rocket_elev_files/images/people/300x300/7-min.jpg" alt="" />
										</figure>
										<div class="testimonial-content">
											<p>Eco-Friendly an amazing service!</p>
											<cite>
												Paula Schiffer
												<span>Salesforce inc.</span>
											</cite>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</section>
			<!-- / -->
			
			<section class="callout alert alert-transparent b-0 rad-0 m-0">

				<header class="text-center mb-60"> 
				<div class="text-center">

					<h1>Contact Us</h2> </br>
					<i class="fa fa-map-marker"><strong></strong></i> Address:</strong> 4468 Wellington St Suite 204, Verdun, Quebec H4G 1W5</span> <br>
					<strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234">(581) 701-0303</a></span> <br>
					<strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:mail@yourdomain.com">info@codeboxx.biz</a></span> <br>

				</div>
			</header>

			</section>
			<!-- /CALLOUT -->

				<!-- Block Level Button -->
				<a href="quotation.html" class="btn btn-danger btn-lg btn-red btn-block">
					<span>GET A QUOTE</span>
				</a>
				<!-- /Block Level Button -->

			<!-- FOOTER -->
			<footer id="footer"></footer></div>

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>

		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/plugins/';</script>
		<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

		<script src="assets/js/scripts.js"></script>

		<!-- REVOLUTION SLIDER -->
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script src="assets/js/view/demo.revolution_slider.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script src="assets/js/contact.js"></script>

		
		<script src="//maps.google.com/maps/api/js?key=AIzaSyCqCn84CgZN6o1Xc3P4dM657HIxkX3jzPY"></script>
		<script src="assets/plugins/gmaps.js"></script>
		<script>

 </script>
	</body>
</html>