<!-- wrapper -->
	<div id="wrapper">

		<div id="header" class="navbar-toggleable-md sticky clearfix"></div>

		<!-- PAGE HEADER -->
		<section class="page-header dark page-header-xs">
			<div class="container">

				<h1>News & Press Releases</h1>
			</div>
		</section>
		<!-- /PAGE HEADER -->

		<section>
			<div class="container">

				<div class="row">

					<!-- LEFT -->
					<div class="col-md-12 col-sm-12">

						<h1 class="blog-post-title">Interesting Facts You Might Not Know About Elevators</h1>
						<ul class="blog-post-info list-inline">
							<li>
								August 15th, 2020
							</li>
						</ul>

						<!-- article image -->
						<figure>
							<%= image_tag("rocket_elev_files/images/blog/5-min.jpg", alt: "Women in elevator", class: "img-fluid" ) %>
						</figure>

						<!-- article content -->
						<p><strong>Tidbits, history, and statistics about elevators</strong></p>
						<p>Despite the fact that we use elevators every day, we seldom think about the sheer amount of
							work they do or how we ended up with this technology. Let’s take a look at their history and
							some interesting facts about this vital form of transportation.</p>

						<p><strong>First, some statistics on elevator usage:</strong></p>
						<ul>
							<li>There are about 900,000 elevators operating today</li>
							<li>The average user takes 4 trips in an elevator daily</li>
							<li>There are about 325 million elevator rides every day (escalators average 245 rides per
								day)</li>
							<li>Each elevator carries 20,000 people per year</li>
							<li>All elevators put together carry the equivalent of the Earth’s population every 3 days>
							</li>
							<li>Elevators in the US travel 7.2 trillion feet or 1.36 billion miles per year</li>
						</ul> <br>

						<p>
							<a href="http://www.elevatorhistory.net/elevator-facts/elevator-fun-facts/" target="_blank"
								rel="noopener"><span style="text-decoration: underline;">Here are some historical facts
									according to ElevatorHistory:</span></a>
						</p>
						<p>There were 24 elevators used in the Roman Coliseum, which were manually operated by over 200
							slaves
							The first public building elevator was installed in a nine-story building in New York City
							Elevator music first appeared in the 1920s to calm fearful passengers who were using
							elevators for the first time</p>

						<p><strong>Famous elevators around the world:</strong></p>

						<ul>
							<li>The St. Louis Gateway Arch</li>
							<li>The Lacerda Elevator in Brazil, the busiest elevator in the world, transports 900,000
								people every month (in 30-second trips no less)</li>
							<li>The Umeda Hankyu Building in Osaka, Japan – Each of the 5 elevators hold up to 80
								passengers</li>
							<li>The Hammetschwand Lift in Lake Lucerne, Switzerland is the largest outdoor elevator in
								Europe</li>
							<li>The AquaDom in Berlin, Germany runs through the largest cylindrical seawater aquarium in
								the world</li>
							<li>The Bailong elevator in Hunan, China is the world’s tallest glass elevator</li>
							<li>The Luxor Hotel in Las Vegas, features a 29-degree incline up the pyramid</li>
						</ul> <br>

						<p><strong>The history of elevators</strong></p>

						<p>The first elevators may have appeared in ancient Greece. They were invented by the
							mathematician Archimedes around 235 BC and used a system of pulleys and winches. Some
							believe elevators may have been around even longer than that, as archeologists have found
							shafts that might have been used for elevators by several ancient civilizations. Elevators
							were definitely present in the Roman Coliseum, and small basket elevators were used to
							transport people and goods up to mountain monasteries during the Middle Ages.</p>
						<p>The inventions of hydraulics and electricity brought about the first modern elevators. In
							1852, American inventor <a href="https://www.britannica.com/biography/Elisha-Otis"
								target="_blank" rel="noopener"><span style="text-decoration: underline;">Elisha Graves
									Otis</span></a> created the first safety device that prevented the cabin from
							falling if the main cable broke. The device was demonstrated in New York’s Crystal Palace in
							1854. The first passenger elevator was installed in 1857, but it wasn’t until the 1870s that
							elevators began showing up in office buildings. German inventor Werner von Seimer built the
							first electric elevator in 1880.</p>

						<p><strong>The early days of elevators</strong></p>

						<p><a href="https://www.fastcompany.com/3027806/9-things-you-didnt-know-about-elevators"
								target="_blank" rel="noopener"><span style="text-decoration: underline;">According to
									Fast Co. Design,</span></a> elevators were once called movable rooms. “They featured
							chandeliers and elaborate furniture and carpeting. Passengers sat down and got comfortable
							before being catapulted onto another floor.”</p>
						<p>It was once thought that vertical travel could make you sick. There was actually a condition
							called “elevator sickness” which was thought to be caused by the sudden movement of internal
							organs when the elevator stopped.</p>

						<p><strong>A couple more things to think about …</strong></p>
						<p><strong>No elevators … no penthouse</strong></p>
						<p>Before elevators, the upper floors of a house or hotel were reserved for servants or low-rent
							tenants, who were stuck having to walk up flights of stairs. The advent of elevators meant
							the rich could easily travel to upper floors. They realized the view from the top was
							amazing, which led to the concept of the penthouse.</p>

						<p><strong>No elevators … no mega cities</strong></p>
						<p>Without elevators, we wouldn’t have the famous skylines of places like New York, Chicago, and
							other cities around the world with immense skyscrapers. Every building would be no more than
							5 or 6 stories tall. Elevators have truly transformed our modern world.</p>

						<!-- /article content -->

						<div class="divider divider-dotted">
							<!-- divider -->
						</div>

					</div>
				</div>
			</div>
		</section>