<body class="smoothscroll enable-animation">

	<!-- wrapper -->
	<div id="wrapper">

		<div id="header" class="navbar-toggleable-md sticky clearfix"></div>

		<!-- PAGE HEADER -->
		<section class="page-header dark page-header-xs">
			<div class="container">

				<h1>News & Press Releases</h1>

				<!-- breadcrumbs -->
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
				</ol><!-- /breadcrumbs -->

			</div>
		</section>
		<!-- /PAGE HEADER -->

		<section>
			<div class="container">

				<div class="row">

					<!-- LEFT -->
					<div class="col-md-12 col-sm-12">

						<h1 class="blog-post-title">Innovations and New Technology in Elevators</h1>
						<ul class="blog-post-info list-inline">
							<li>
								<a href="#">
									<i class="fa fa-clock-o"></i>
									<span class="font-lato">Feb 10, 2020</span>
								</a>
							</li>
						</ul>

						<!-- article image -->
						<figure>
							<%= image_tag("rocket_elev_files/images/blog/4-min.jpg", alt: "Innovations and New Technology", class: "img-fluid" ) %>						
						</figure>

						<!-- article content -->
						<p><strong>An update on the latest elevator industry news</strong></p>
						<p>2019 was a busy year for the elevator industry. We’ve seen growth in construction and
							ridership as well as new innovations which could transform how elevators operate and how
							they are serviced. From smart and “green” elevators to elevators that are connected to the
							Internet, the strides being made are pretty amazing. Here is a summary of some of the top
							stories from the past year:</p>
						<ol>
							<li>What’s so smart about smart elevators?</li></br>
							<p>Much like smart phones and smart TVs, elevators are becoming more high-tech. As
								skyscrapers continue to rise to even more dizzying heights, elevator manufacturers must
								make adjustments in order to safely and quickly transport passengers. Smart elevators
								are among the new wave of advancement in our industry.</br></p>
							<p>How do they work? A passenger pushes a button to set his or her destination and an
								indicator will direct them to a specific elevator that will transport him or her to that
								floor the fastest. This advanced routing is a more efficient way of moving passengers,
								especially during high-traffic hours in busy office buildings or hotels. These elevators
								can be programmed to operate differently at certain periods throughout the day.</p>
							<p>According to BusinessWire, smart elevators will be making big strides in the market, with
								predicted growth of 12.7% CAGR in the next 8 years. “The global smart elevators market
								is expected to witness strong growth during the forecast period 2017 – 2025 due to
								flourishing construction and real estate industry post economic recession. Urbanization
								and rise in the number of new dwelling units in cities has made the real estate sector
								competitive. Builders are coming up with new projects and are offering automation and
								smart elevators as a part of amenities.”</p>

							<li>Elevators on the Internet</li></br>
							<p>Connectivity is the future of elevators. It won’t be long before Internet-connected
								elevators become more commonplace. A leading international company is already installing
								them.</p>
							<p>According to TechCo, “The technology works by alerting companies to faults when they
								appear or are about to develop, enabling lift operators to save money and time on
								repairs.”</p>
							<p>Sensors gather data about usage and other factors, which can affect wear and tear on
								parts and machinery. That information is then transferred to a cloud-based platform
								where it is processed and analyzed to predict when maintenance might be needed.
								Accurately predicting future problems could allow the elevator technicians to make
								repairs before there is a breakdown.s</p>
							<p>Another benefit is that companies would be able to service some aspects of elevators
								remotely, which can help save money and time when repairs are needed.</p>

							<li>Virtual reality diagnostics</li></br>
							<p>Another cool innovation is called HoloLens. In collaboration with Microsoft, a leading
								manufacturer is developing a virtual reality headset that might change the way mechanics
								do elevator repairs. These devices allow mechanics to diagnose a problem without
								climbing tens of floors or dangling in a lift shift. Once the mechanic puts the glasses
								on, he or she can use hand motions to go close-up and explore the engine and individual
								parts. The view can also be widened, allowing the mechanic to do a virtual “walk
								through,” looking for places where repairs or replacement are needed.</p>

							<li>The continued trend toward green elevators</li></br>
							<p>Interest in saving energy remains high in real estate and construction. Green buildings
								are designed to use less energy, and the trend has spread to elevators as well. How is
								an elevator classified as “green”? It relates to not only energy consumption, but also
								the materials, processes, and technologies used, as well as interior paints, flooring,
								control panels, lighting, and HVAC systems.</p>
							<p>Elements of green elevators:</p>
							<ul>
								<li>Machine-room-less (MRL) technology with machinery housed directly in the elevator
									shaft</li>
								<li>Gearless traction design, which can use up to 80% less energy than hydraulic lifts
								</li>
								<li>Drive systems that that recover and regenerate energy</li>
								<li>Precision traffic control to cut down on elevators with fewer passengers (which use
									more energy)</li>
								<li>Computerized systems that reduce the number of light-load trips</li>
								<li>In-cab sensors and software that will “go to sleep” when occupied, turning off
									lights, ventilation, music and video</li>
								<li>Destination dispatch control software that batches elevator stop requests. This
									reduces the number of stops and even reduces the number of elevators required in a
									building</li> <br>
							</ul>

							<li>Destination controls</li></br>
							<p>Calling an elevator is no longer simply pressing a button and waiting for it to arrive.
								<a href="https://elevatortoday.com/2017/12/04/agile-new-thyssenkrupps-destination-controls/"
									target="_blank" rel="noopener"><span style="text-decoration: underline;">According
										to Elevator Today</span></a>, new, high-tech features “allow building managers
								to more intelligently group and assign passengers to elevators, move people more rapidly
								to their destination, adjust passenger flow in real-time and personalize touchscreens
								and kiosks.”</p>
							<p>Elevators can be dedicated to high-traffic areas to more adequately answer passenger
								demands. Building managers will be able to control everything remotely from anywhere in
								the building.</p>

							<li>The fastest elevators in the world</li></br>
							<p>Cities all over the world are competing to having the tallest skyscrapers, and a similar
								race is happening regarding the speed of the elevators that serve them. The Shanghai
								Tower holds three Guinness World Records for the world’s fastest elevator, the tallest
								elevator in a building, and the fastest double-deck elevator. It travels at 67 feet per
								second. The elevator in the Guangzhou’s CTF Tower (1,739 feet tall) makes its trip from
								floor 0 to 95 in only 45 seconds.</p>
							<p>Watch out for the Jeddah Tower in Saudi Arabia, through, which will become the tallest
								building in the world in 2019. That building’s elevators will use “ultrarope,” a
								carbon-fiber cable that has incredible lift power. It will enable the machine to travel
								over 33 feet per second, reaching the highest livable floor in 52 seconds.</p>
							<p>These and other innovations in the world of elevators mean it’s an exciting time for our
								industry. We look forward to the next wave of emerging technologies, many of which will
								influence the daily operation of new elevators around the world.</p>
						</ol>

						<!-- /article content -->

						<div class="divider divider-dotted">
							<!-- divider -->
						</div>

						<!-- SHARE ARTICLE -->
						<div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Article:
							</span>

							<a href="https://www.facebook.com"
								class="social-icon social-icon-sm social-icon-transparent social-facebook float-right"
								data-toggle="tooltip" data-placement="top" title="Facebook" target="_new">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="https://twitter.com"
								class="social-icon social-icon-sm social-icon-transparent social-twitter float-right"
								data-toggle="tooltip" data-placement="top" title="Twitter" target="_new">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="https://google.com"
								class="social-icon social-icon-sm social-icon-transparent social-gplus float-right"
								data-toggle="tooltip" data-placement="top" title="Google plus" target="_new">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="https://linkedin.com"
								class="social-icon social-icon-sm social-icon-transparent social-linkedin float-right"
								data-toggle="tooltip" data-placement="top" title="Linkedin" target="_new">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>

						</div>
						<!-- /SHARE ARTICLE -->

						<div class="divider">
							<!-- divider -->
						</div>

					</div>
				</div>
			</div>
		</section>
		<!-- / -->
