	<!-- wrapper -->
	<div id="wrapper">

		<div id="header" class="navbar-toggleable-md sticky clearfix"></div>

		<!-- PAGE HEADER -->
		<section class="page-header dark page-header-xs">
			<div class="container">

				<h1>News & Press Releases</h1>

			</div>
		</section>
		<!-- /PAGE HEADER -->

		<section>
			<div class="container">

				<div class="row">

					<!-- LEFT -->
					<div class="col-md-12 col-sm-12">

						<h1 class="blog-post-title">Meet Canada’s Best Employers 2020</h1>
						<ul class="blog-post-info list-inline">
							<li>
								<a>
									Jan 28, 2020
								</a>
							</li>
						</ul>

						<!-- OWL SLIDER -->
						<!-- <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 4500, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'> -->
						<!-- <a class="lightbox" href="rocket_elev_files/images/1200x800/10-min.jpg" data-plugin-options='{"type":"image"}'> -->
						<figure>
							<%= image_tag("blog/2-min.png", alt: "Forbes Best Employers", class: "img-fluid", :size => '210x140') %>
						
						</figure>
						<!-- </a> -->
						<!-- </div> -->
						<!-- /OWL SLIDER -->

						<!-- article content -->
						<p class="dropcap"> Forbes partnered with market research company Statista to identify the
							companies liked best by employees in our annual ranking of Canada’s best employers. The list
							was compiled by surveying 8,000 Canadians working for businesses with at least 500
							employees. Some of the ranked companies have faced allegations of sexual harassment, but it
							is important to note that their appearance on this list is a reflection of the opinions of
							those employees who responded to Statista’s survey. </p>
						<p>The upper echelon of this year’s list is dominated by well-known corporate names, many of
							them titans of industry such as <strong>Rocket Elevators, No. 1</strong> for the third year
							in a row, and Cisco, up 13 spots to No. 3. But right alongside them is less of a household
							name, Hydro-Québec. While the Montreal-based government-owned utilities company may not be
							familiar outside the Great White North, the largest producer of clean energy in North
							America is certainly known to Canadians, 20,000 of whom call Hydro-Québec their employer.
							“People are proud to work for our company because of its mission,” says Nathalie Dubois,
							vice president of human resources at Hydro-Québec. “We contribute to the economy and the
							environment with green energy—it’s something that really glues the team together.”</p>
						<p>At a time when job seekers are interested in joining organizations known for corporate
							citizenship, the fact that the Hydro-Québec’s business for the last 75 years has been
							renewable energy has helped attract top talent. But in today’s competitive labor landscape,
							no employer can afford to rest on its laurels. Over the course of the past year,
							Hydro-Québec has invested in improving its candidate experience so that all applicants,
							whether or not they receive an offer, feel as though the hiring process was productive. “We
							always make feedback part of the process, and if they still want to be in our pool of
							candidates, we call them when there’s another position,” says Dominic Roy, human resources
							services director at Hydro-Québec. When employment opportunities arise, recruiters are
							required to look to the pool for qualified candidates before going out to market. “It’s good
							for the candidates, it’s good for us—it’s a win-win.”</p>
						<!-- /article content -->


						<div class="divider divider-dotted">
							<!-- divider -->
						</div>

						<!-- SHARE ARTICLE -->
						<div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Article:
							</span>

							<a href="https://www.facebook.com"
								class="social-icon social-icon-sm social-icon-transparent social-facebook float-right"
								data-toggle="tooltip" data-placement="top" title="Facebook" target="_new">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="https://twitter.com"
								class="social-icon social-icon-sm social-icon-transparent social-twitter float-right"
								data-toggle="tooltip" data-placement="top" title="Twitter" target="_new">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="https://google.com"
								class="social-icon social-icon-sm social-icon-transparent social-gplus float-right"
								data-toggle="tooltip" data-placement="top" title="Google plus" target="_new">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="https://linkedin.com"
								class="social-icon social-icon-sm social-icon-transparent social-linkedin float-right"
								data-toggle="tooltip" data-placement="top" title="Linkedin" target="_new">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>

						</div>
						<!-- /SHARE ARTICLE -->

						<div class="divider">
							<!-- divider -->
						</div>

					</div>
				</div>
			</div>
		</section>
