
<body class="smoothscroll enable-animation">

	<!-- wrapper -->
	<div id="wrapper">

		<div id="header" class="navbar-toggleable-md sticky clearfix"></div>

		<!-- PAGE HEADER -->
		<section class="page-header dark page-header-xs">
			<div class="container">

				<h1>News & Press Releases</h1>
			</div>
		</section>
		<!-- /PAGE HEADER -->

		<section>
			<div class="container">

				<div class="row">

					<!-- LEFT -->
					<div class="col-md-12 col-sm-12">

						<h1 class="blog-post-title">ROCKET ELEVATORS IS 9001:2015 CERTIFICATION</h1>
						<ul class="blog-post-info list-inline">
							<li>
								<a>
									June 29, 2020
								</a>
							</li>
						</ul>

						<!-- article image -->
						<figure>
						    <%= image_tag("rocket_elev_files/images/blog/1-min.jpg", alt: "Women in elevator", class: "img-fluid" ) %>
							<%# <img class="img-fluid" src="app/assets/images/rocket_elev_files/images/1-min.jpg"
								alt="Women in elevator" /> %>
						</figure>

						<!-- article content -->
						<p class="dropcap">To achieve ISO 9001:2015 certification, we completed a thorough analysis of
							our business processes as well as our product quality environments, and underwent a rigorous
							evaluation process which included: quality management system development, a management
							system documentation review, and several audits. </p>
						<p>We have developed and implemented our quality management system in order to improve our
							overall performance, and to maintain a high-level of quality and customer service while
							providing a strong foundation for sustainable growth. Our decision to pursue ISO 9001:2015
							certification demonstrates our commitment to providing high-quality and consistent products
							and services to our existing and future customers.

							This has been a long journey that began nearly 2 years ago. We have worked tirelessly to
							achieve this recognition and done so while maintaining a customer first focus and delivering
							products on time. This was a team effort from beginning to end and through the dedication
							and hard work of our team we have reached our goal.</p>

						<!-- BLOCKQUOTE -->
						<blockquote>
							<p>This is an exciting time for Rocket Elevators! We look forward to keeping the momentum
								going and continuing to drive as a world leader in the elevators industry.</p>
							<cite>David Larochelle - CEO of Rocket Elevators</cite>
						</blockquote>

						<p>Moving forward, our recent re-organization of the quality group into a separate functional
							department within Rocket Elevators was done to ensure that we uphold the highest standards
							to maintain our ISO 9001:2015 certified quality management system, and to continue to
							deliver the high quality products and services that DFS customers have come to know and
							expect. </p>
						<!-- /article content -->

						<div class="divider divider-dotted">
							<!-- divider -->
						</div>


					</div>
				</div>
			</div>
		</section>
		<!-- / -->

