<!-- wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<div id="header" class="navbar-toggleable-md sticky clearfix"></div>

		<!-- PAGE HEADER -->
		<section class="page-header dark page-header-xs">
			<div class="container">

				<h1>News & Press Releases</h1>
			</div>
		</section>
		<!-- /PAGE HEADER -->

		<!-- -->
		<section>
			<div class="container">

				<div class="row">

					<!-- LEFT -->
					<div class="col-md-12 col-sm-12">

						<h1 class="blog-post-title">Who Is The Authority Having Jurisdiction (Elevator Safety Authority)
							In Your Area?</h1>
						<ul class="blog-post-info list-inline">
							<li>
								Apr 1st, 2020

							</li>
						</ul>

						<!-- article image -->
						<figure>
							<%= image_tag("rocket_elev_files/images/blog/6-min.jpg", alt: "Women in elevator", class: "img-fluid" ) %>
						</figure>

						<!-- article content -->
						<p>As city skylines climb higher and the need for service and modernization increases, Canada’s
							elevator industry is growing rapidly. Regulatory bodies across the country work to ensure
							that every new installation and existing elevator operates legally and, most importantly,
							safely.<strong> Each elevator safety authority adheres to different regulations; it is
								critical that owners, contractors, and other parties know where to find accurate
								information.</strong></p>

						<p><strong>Acts, Regulations, and Elevator Compliance</strong></p>
						<p>The <i>why</i> behind elevator regulations is simple – and universal: to protect public
							safety. The <i>how</i> varies by jurisdiction. Legislative bodies pass laws, or <b>acts</b>,
							which set out the technical standards related to “elevating devices”. <b>Regulations</b>
							explain how owners, elevator contractors, and others can follow there legal requirements.
						</p>
						<p>Take, for example, Ontario’s Technical Standards and Safety Act (TSSA). The law contains
							several regulations, such as:</p>
						<p><i> Every owner of a passenger elevator shall ensure that… the name and telephone number of
								the contractor currently maintaining the elevator is readily available, together with
								the expiry of the elevator maintenance contract. O. Reg. 209/01, s. 38.</i></p>
						<p>The regulations in TSSA, as in other provinces’ elevating devices acts, cover everything from
							licensure and design submissions to fees and inspections.</p>
						<p>As mentioned, each jurisdiction has its own acts and regulations, though they are often quite
							similar. The overall goal is to promote safety, but the specifics on how authorities
							administer and enforce regulations vary from one jurisdiction to the next.</p>

						<p><strong>Owning Responsibility for Code Compliance</strong></p>
						<p>While owners assume ultimate responsibility for the safe design, installation, and operation
							of their elevators, contractors and maintenance companies play a central role in compliance.
							Typically more well-versed in specific regulations, they can help owners navigate the
							complex world of codes and standards. Knowing where to turn for information and assistance
							is essential for both parties.</p>
						<p>The following is a list of jurisdictional authorities across Canada. Their websites contain
							relevant legislation, requisite forms, bulletins, and more to help owners and professionals
							comply with applicable laws:</p>

						<ul>
							<li>Saskatchewan: <a href="https://www.tsask.ca/elevating-devices" target="_blank"
									rel="noopener"><span style="text-decoration: underline;">TSASK</span></a></li>
							<li>Ontario: <a href="https://www.tssa.org/en/index.aspx" target="_blank"
									rel="noopener"><span style="text-decoration: underline;">TSSA</span></a></li>
							<li>British Columbia: <a href="https://www.technicalsafetybc.ca/" target="_blank"
									rel="noopener"><span style="text-decoration: underline;">BC Safety
										Authority</span></a></li>
							<li>Alberta: <a href="https://www.aedarsa.com/" target="_blank" rel="noopener"><span
										style="text-decoration: underline;">AEDARSA: Alberta</span></a></li>
							<li>Manitoba: Manitoba Fire Commission: <a href="https://firecomm.gov.mb.ca/codes.html"
									target="_blank" rel="noopener"><span
										style="text-decoration: underline;">Manitoba</span></a></li>
							<li>Quebec: <a href="http://legisquebec.gouv.qc.ca/en/ShowDoc/cr/B-1.1,%20r.%202"
									target="_blank" rel="noopener"><span style="text-decoration: underline;">Quebec
										Safety Code</span></a></li>
							<li>Elevators and Lifts Act: <a href="https://www.princeedwardisland.ca/en" target="_blank"
									rel="noopener"><span style="text-decoration: underline;">Prince Edward
										Island</span></a></li>
							<li>Services Newfoundland: <a href="https://www.gov.nl.ca/snl/licenses/electrical/permits/"
									target="_blank" rel="noopener"><span
										style="text-decoration: underline;">Newfoundland</span></a></li>
							<li>Elevators and Lifts: <a
									href="https://www.novascotia.ca/just/regulations/regs/ealgen.htm" target="_blank"
									rel="noopener"><span style="text-decoration: underline;">Nova Scotia</span></a></li>
							<li>Government of New Brunswick Inspection: <a
									href="https://www2.gnb.ca/content/gnb/en/departments/public_safety/safety_protection/content/technical_inspection_services.html"
									target="_blank" rel="noopener"><span style="text-decoration: underline;">New
										Brunswick</span></a></li>
							<li><a href="https://www.csagroup.org/" target="_blank" rel="noopener"><span
										style="text-decoration: underline;">Canadian Safety Authority</span></a></li>
						</ul>

						<p>Because regulations differ from location to location – and because they change frequently
							(i.e. they are updated about every three years), it is important that owners, contractors,
							and maintenance professionals stay connected with the elevator safety authority in their
							jurisdiction.</p>
						<p>Safety and compliance are twin goals of every elevator installation. Building owners and
							contractors can rely on their jurisdictional elevator safety authority for up-to-date
							information to ensure they meet all applicable requirements.</p>

						<!-- /article content -->

						<div class="divider divider-dotted">
							<!-- divider -->
						</div>

					</div>
				</div>
			</div>
		</section>