	<!-- wrapper -->
	<div id="wrapper">

		<div id="header" class="navbar-toggleable-md sticky clearfix"></div>

		<!-- PAGE HEADER -->
		<section class="page-header dark page-header-xs">
			<div class="container">

				<h1>News & Press Releases</h1>
			</div>
		</section>
		<!-- /PAGE HEADER -->

		<section>
			<div class="container">

				<div class="row">

					<!-- LEFT -->
					<div class="col-md-12 col-sm-12">

						<h1 class="blog-post-title">The Importance of Elevator Maintenance</h1>
						<ul class="blog-post-info list-inline">
							<li>
								<a >
									Mai 31st, 2019
								</a>
							</li>
						</ul>

						<!-- article image -->
						<figure>
						<%= image_tag("rocket_elev_files/images/blog/3-min.jpg", alt: "Women in elevator", class: "img-fluid" ) %>
						</figure>

						<!-- article content -->
						<p><strong>Regular maintenance, monitoring, and testing can save time and money</strong></p>
						<p>Experts estimate that there are nearly one million elevators in the US, each of which serves
							an average of 20,000 people every year. Elevators don’t just help us get places a little
							faster – they make dense urban living possible, allowing the efficient construction of
							high-rise structures all across the world. However, if your property has slow, broken, or
							otherwise defective elevators, it could be making your life a whole lot less efficient.</p>

						<p><strong>If you’re about to move into a new building, ask questions about the
								elevators</strong></p>
						<p>Whether you’ve just signed a lease or you’re weighing several options, it pays to make sure
							the building’s elevators are in good, working condition. To do that, you’ll have to ask some
							questions, including how old each elevator is and how often they’re inspected and maintained
							by a qualified professional. If you haven’t yet leased or bought a property, or you’re on
							the fence about making a big decision about a building with elevators, you should consider
							their condition before making your final choice. This is especially the case in particularly
							tall structures or buildings that may deal with a large amount of elderly or disabled
							individuals.</p>

						<p><strong>If you’re about to move into a new building, ask questions about the
								elevators</strong></p>
						<p>While elevator repairs should only be performed by licensed technicians, building owners and
							property managers should periodically ride the elevators in each of the buildings that they
							own and/or manage. These rides can help ensure that smaller issues, such as faulty lights,
							button wiring issues, or minor door problems are caught early, before they can contribute to
							an accident or expensive malfunction. Elevator checks also allow owners and managers to
							identify elevators that are running slowly. While slow elevators might not be much of an
							issue in a two or three-story building, they can be a serious inconvenience in a 15 or
							20-story structure, and could present a safety issue in an emergency.</p>

						<p><strong>When it comes to elevators, an ounce of prevention is worth a pound of cure</strong>
						</p>
						<p>Statistically, elevators are extremely safe – safer, in fact, than stairs. Nevertheless,
							maintenance that prevents accidents is essential, and mitigates the possibility of liability
							for building owners or managers. In addition, regular maintenance helps prevent routine
							equipment breakdowns, saving time and money in the long run. In addition, the Florida Safety
							Act stipulates that owners or operators are responsible for ensuring that elevators meet all
							safety requirements on an annual basis.s.</p>
						<p>With 18 billion trips taken in the U.S. each year, elevators are seemingly just as essential
							to human transport as automobiles. And much like other forms of motorized transportation,
							they need to be regularly serviced in order to keep them in good working condition.</p>
						<p>To learn more about how to make sure your property’s elevators remain an asset instead of a
							liability, contact Rocket Elevators at (581) 701-0303 or get in touch through our
							<a href="index.html#contact" target="_blank" rel="noopener"><span
									style="text-decoration: underline;">detailed contact information</span></a>.</p>

						<!-- /article content -->

						<div class="divider divider-dotted">
							<!-- divider -->
						</div>

						<!-- SHARE ARTICLE -->
						<div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Article:
							</span>

							<a href="https://www.facebook.com"
								class="social-icon social-icon-sm social-icon-transparent social-facebook float-right"
								data-toggle="tooltip" data-placement="top" title="Facebook" target="_new">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="https://twitter.com"
								class="social-icon social-icon-sm social-icon-transparent social-twitter float-right"
								data-toggle="tooltip" data-placement="top" title="Twitter" target="_new">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="https://google.com"
								class="social-icon social-icon-sm social-icon-transparent social-gplus float-right"
								data-toggle="tooltip" data-placement="top" title="Google plus" target="_new">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="https://linkedin.com"
								class="social-icon social-icon-sm social-icon-transparent social-linkedin float-right"
								data-toggle="tooltip" data-placement="top" title="Linkedin" target="_new">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>

						</div>
						<!-- /SHARE ARTICLE -->

						<div class="divider">
							<!-- divider -->
						</div>

					</div>
				</div>
			</div>
		</section>

