<!--
	Used By:
		portfolio-loading-ajax-modal.html
-->
<div class="lightbox-ajax">

	<!-- title -->
	<h4>Salesforce Tower</h4>
	
	<!-- body -->
	<div class="lightbox-ajax-body">

		<!-- IMAGE -->
        <%= image_tag("rocket_elev_files/images/buildings/800x553/w1-min.jpg", alt: "Salesforce Tower image", class: "img-responsive", :size => '210x140') %>
		<%# <img class="img-responsive" src="rocket_elev_files/images/buildings/800x553/w1-min.jpg" alt="Salesforce Tower image" /> %>

		<!-- Social Icons -->
		<div class="margin-top-20 clearfix block">
			<a href="https://www.facebook.com/" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook" target="_new">

				<i class="icon-facebook"></i>
				<i class="icon-facebook"></i>
			</a>

			<a href="https://www.twitter.com/" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter" target="_new">
				<i class="icon-twitter"></i>
				<i class="icon-twitter"></i>
			</a>

			<a href="https://www.google.com/" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus" target="_new">
				<i class="icon-gplus"></i>
				<i class="icon-gplus"></i>
			</a>

			<a href="https://www.linkedin.com/" class="social-icon social-icon-sm social-icon-transparent social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin" target="_new">
				<i class="icon-linkedin"></i>
				<i class="icon-linkedin"></i>
			</a>

		</div>
		<!-- /Social Icons -->

		<p class="nomargin-bottom margin-top-10"> Besides various Best Tall Building titles, the list of winning categories of the Salesforce Tower also included Urban Habitat, Innovation, Renovation, Interior Space, and Construction, alongside five categories focused specifically on Engineering achievements(Special thanks to Rocket Elevators). </p>

	</div>
	<!-- /body -->

</div>

