
	<body class="smoothscroll enable-animation">

			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Choose a option</h2>
						<hr />
					</header>

				<div class="row">

						<!-- FORM -->
					<div class="col-md-12 col-sm-12">

	
								<input type="hidden" name="action" value="submission_send">


									<div class="row">
										<div id="BuildingType" class="col-md-12">
											<label>Building Type</label>
											<select class="form-control pointer" name="BuildingType">
												<option value="">--- Select ---</option>
												<option value="Residential">Residential</option>
												<option value="Commercial">Commercial</option>
												<option value="Corporate">Corporate</option>
												<option value="Hybrid">Hybrid</option>
											</select>
										</div>

										<div id="ApartNumber" class="col-md-4">
											<label>Number of apartements</label>
											<input id="Number_Appart" class="form-control" type="number" value=""  min="0">
										</div>

											<div id="NumberBusiness" class="col-md-4" style="display: none;">
											<label>Numbers business</label>
											<input id="Number_Business" class="form-control" type="number"  min="0">
										</div>

										<div id="NumberFloor" class="col-md-4" >
											<label>Number of floors</label>
											<input id="Number_Floor" class="form-control" type="number"  min="0"> 	
										</div>

										<div id="BasementNumber" class="col-md-4" >
											<label>Number of basement</label>
											<input id="Basement_Number" class="form-control" type="number" min="0">
										</div>

										<div id="NumberParking" class="col-md-4" style="display: none;">
											<label>Number of parking</label>
											<input id="Number_Parking" class="form-control" type="number"  min="0">
										</div>

										<div id="Numbercage" class="col-md-12" style="display: none;" >
											<label>Number of cages</label>
											<input id="Number_cages" class="form-control" type="number"  min="0">
										</div>

										<div id="Occupantperfloors" class="col-md-12" style="display: none;">
											<label>Number of occupant per floors</label>
											<input id="Occupant_per_floors" class="form-control" type="number" min="0">
										</div>

										<div id="NumberHour" class="col-md-12" style="display: none;">
											<label>Operating hours of the building</label>
											<input id="Number_Hour" class="form-control" type="number" min="1" max="24">
										</div>

										<div id="RecommendedNumber" class="col-md-12">
											<label>Recommended elevators</label>
											<input id="Recommended_Number" class="form-control" type="number" name="Recommended_Number" readonly="">
											
										</div>

										<div id="type" class="col-md-12" >
											<label>Elevator type</label>

											<input type="radio" name="Typeradio" value="7565">Standard 

											<input type="radio" name="Typeradio" value="12345" >Premium

											<input type="radio" name="Typeradio" value="15400">Excelium
										</div>

										<div id="Elevatorcost" class="col-md-4" >
											<label>Cost by Elevator</label>
												<input id="Elevator_cost" type="text" class="form-control" value="Choose a elevator type" readonly="">
										</div>

										<div id="Totalelevatorcost" class="col-md-4" >
											<label>Cost of all your elevator</label>
											<input id="Total_elevator_cost" type="text" class="form-control" readonly="">
										</div>

										<div id="Totalinstal" class="col-md-4" >
											<label>Instalation cost</label>
											<input id="Total_instal" type="text" class="form-control" readonly="">
										</div>
										
										<div id="Fulltotal" class="col-md-4">
											<label>Total</label>
											<input id="Full_total" type="text" class="form-control" readonly="">
										</div>
							
		
									</div>
									<div class="row">
										<div class="col-md-4">
											<a class="btn btn-primary btn-lg" href="Quotesend.html">Send your quote &nbsp; <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
		
								<!-- /FORM -->
							</div>									
						</div>
						<!-- /FORM -->
					</div>

				</div>
			</section>
			<!-- /CONTACT -->
			<!--total-->

			<!--total-->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>
		
		<!-- Quote generator-->
		<%= javascript_include_tag 'quote' %>
			
	</body>
</html>